/* Fond général */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('pexels-robshumski-1903702.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
}

/* Overlay pour lisibilité */
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    padding: 40px 20px;
}

/* Conteneur principal */
.container {
    max-width: 900px;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    box-shadow: 0 28px 30px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1.5s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Titres */
header h1 {
    text-align: center;
    font-size: 2.5em;
    color: #f1c40f;
    margin-bottom: 30px;
}

/* Texte */
.intro p {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #ecf0f1;
}

/* Lien Discord */
.all a{
    color: #00a8ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.all a:hover {
    color: #ff0303;
    transform: scale(1.05);
}

/* Pied de page */
footer {
    margin-top: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 0.9em;
}

 .FM {
    text-align:center;
}
nav ul {
  list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  .Menu {
    position: fixed;
  top: -60px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.3s ease;
  z-index: 1000;
}
